HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/file-data-map/
/.storage/
/grafana-data/
/.logs/discodeit.log
/.logs/

.env
discodeit.env
/logs/discodeit.log
/.discodeit/storage/5aff2a5b-77c4-47b5-a2bd-2ac2d800f295
/.discodeit/storage/5b3297dc-dae7-44b5-8086-21b4f371ab28
/.discodeit/storage/6c25a102-099c-4dc7-9738-dcd3f9b924e8
/.discodeit/storage/9c638402-1445-42b5-b556-1113356cf73f
/.discodeit/storage/076e9ca6-a110-4dff-a265-9f4771d9f49b
/.discodeit/storage/91f4e66e-0814-4f6d-a6fa-79ea786f163d
/.discodeit/storage/191c323c-75b7-4508-af98-cc2b99995609
/.discodeit/storage/954d6de4-d43b-4088-8060-793d39090e33
/.discodeit/storage/7940e6dd-b2cb-44b4-8f55-67cbee8c809a
/.discodeit/storage/353255a6-328e-45c8-bd73-46e41c704249
/.discodeit/storage/24485977-65e6-4d8b-8047-86afa47602c4
/.discodeit/storage/ade75ed8-38b6-435a-bef9-8515bb8b1d7e
/.discodeit/storage/b87f3cf8-878c-4b31-89b3-daf66c909606
/.discodeit/storage/b0775d96-2cf1-4156-b08c-207baab05252
/.discodeit/storage/bc5e4357-4b5e-4802-b193-875182184c85
/.discodeit/storage/c760347d-5f00-4f08-a75c-f7eddd01ee18
/.discodeit/storage/e926a9fc-0648-4127-8ef4-061e83e188df
/.discodeit/storage/ff80f225-c31d-4036-a703-54d973f8cc02
/cookies.txt
